<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/HTML; charset=utf-8" />
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid #6B550F;
    background-color: #E7D8A8;
}

footer {
    padding: 1em;
    color: #6B550F;
    background-color:#C9BD97 ;
    border-bottom: 1px solid #6B550F;
    border-top: 1px white;
    clear: left;
    text-align: center;
    font-family: fantasy, 'Blippo', fantasy;
    font-size: 100%;

  }

</style>
</head>
<body >

<div class="container">


<footer>Kütüphane Sistemi</footer>

</div>

</body>
</html>